# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim files
*.swp

.vscode

CMakeFiles
node_modules
core.*
*.log
*.pid

bin
lib
include
build
dump.rdb
src/json11
src/lua-cjson

game/minigame/bin
game/minigame/log
game/minigame/lib

framework/consoled-client/node_modules

framework/consoled/bin
framework/consoled/log

framework/hostd-client/node_modules

framework/hostd/bin
framework/hostd/log

framework/test/bin
framework/test/log

dep/benchmark*
dep/ccronexpr*
dep/googletest*
dep/hiredis*
dep/http-parser*
dep/inipp*
dep/json*
dep/libuv*
dep/lua*
dep/mysql*
dep/protobuf*
dep/tolua*
dep/argparse-2.5